---
import { IconPreview } from '~/components/home'

const oblatumIcons: string[] = []
// 从public/icons/oblatum文件夹中导入图标
const icons = import.meta.glob('/public//icons/oblatum/*', { eager: true })
const iconKeys = Object.keys(icons)

while (oblatumIcons.length < 9) {
  const icon = iconKeys[Math.floor(Math.random() * iconKeys.length)].split('icons/').pop() as string
  if (!oblatumIcons.includes(icon)) {
    oblatumIcons.push(icon)
  }
}
---

<div class="min-h-[100dvh] flex flex-col">
  <div class="flex-grow"></div>
  <div class="pb-16 md:pb-24">
    <h1 class="flex poster-h1 text-[rgba(var(--oblatum-color-primary))]">
      <span class="i-oblatum-blue mr1 inline-block self-center"></span>经典的
    </h1>
    <h1 class="poster-h1">不规则质感设计</h1>
    <p class="mb-12 poster-p">
      基于Material Design，淡化了原有的质感，视感更加的和谐。
    </p>
    <IconPreview client:idle>
      {
        oblatumIcons.map(i => (
          <div class="mx-auto size-16 md:(size-24)">
            <img src=`/icons/${i}` alt={i} width={200} height={200} loading="lazy" decoding="async" />
          </div>
        ))
      }
    </IconPreview>
  </div>
</div>
