---
import { FilledTonalIconButton } from '~/components/ui/md-button';
---

<div
  class="w-full flex flex-wrap items-center justify-center gap-6 py-24 op-80 [&>p]:text-[var(--md-sys-color-secondary-container)]"
>
  <p>——</p>
  <FilledTonalIconButton>
    <span class="i-tencent-qq size-6"></span>
  </FilledTonalIconButton>
  <FilledTonalIconButton>
    <span class="i-telegram-logo size-6"></span>
  </FilledTonalIconButton>
  <FilledTonalIconButton>
    <span class="i-tencent-txc size-6"></span>
  </FilledTonalIconButton>
  <p>——</p>
  <div
    class="w-full flex flex-col items-center justify-center [&>p]:(text-[10px] text-[var(--md-sys-color-secondary-container)])"
  >
    <p>OpenSource 2024 Oblatum Org.</p>
    <p>Powered by Astro.Js</p>
  </div>
</div>
