---
import { Image } from "astro:assets";
import Cc_by_nc_nd_Logo from "../../assets/svgs/cc_by_nc_nd_logo.svg";
import Cc_Logo from "../../assets/svgs/cc_logo.svg";
---

<div class="mt-32 flex flex-col md:(flex-row-reverse)">
  <div class="md:(flex flex-col justify-center)">
    <h1 class="poster-h1">图标开源共享</h1>
    <p class="poster-p">所有图标文件采用</p>
    <p class="mb-12 poster-p">CC BY-NC-ND 4.0 国际协议*开源。</p>
  </div>
  <div class="flex-grow"></div>
  <Image
    src={Cc_by_nc_nd_Logo.src}
    alt="cc_by_nc_nd_logo"
    loading="lazy"
    decoding="async"
    width={192}
    height={192}
    class="mt-12 w-full self-center md:mt-0 lg:max-w-120 md:max-w-96 md:self-start"
  />
</div>
<Image
  src={Cc_Logo.src}
  alt="cc_logo"
  loading="lazy"
  decoding="async"
  width={192}
  height={192}
  class="mx-auto my-8 w-40 md:(my-12 max-w-96 w-60 self-start) lg:max-w-120"
/>
<p class="mt-24 text-10px text-[var(--md-sys-color-on-primary)] md:text-center">
  *更多细则解释请访问<a
    class="text-[var(--md-sys-color-on-primary)]"
    href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
  >
    creativecommons.org/licenses/by-nc-nd/4.0/</a
  >。
</p>
