---
import Icons from "./index-page-3-com";
---

<div class="relative mt-32 h-240">
  <Icons />
  <div
    id="pg3-sticky"
    class="sticky top-1/3 h-80 flex items-center justify-center"
  >
    <h1 class="poster-h1 text-shadow-xl">
      超<span class="over_1k_text text-white">1000</span>+适配
    </h1>
  </div>
</div>
<script>
  import { gsap } from "gsap";
  import {
    observeAndAnimateForList,
    observeAndAnimateForSelf,
  } from "~/tools/animation";

  const box = document.querySelector(".index_page_3-box");
  const icons = box?.querySelectorAll(".index_page_3-icon");
  function index_page_3_icons_animation(icon: gsap.TweenTarget) {
    gsap.from(icon, {
      opacity: 0,
      scale: gsap.utils.random(0.5, 1.5),
      duration: 1,
      delay: gsap.utils.random(0.5, 1.5),
      ease: "power4.out",
    });
  }
  observeAndAnimateForList(box, icons, index_page_3_icons_animation, true);

  const over_1k_text = document.querySelector(".over_1k_text");
  function over_1k_text_fn(item: gsap.TweenTarget) {
    gsap.from(item, {
      duration: 2,
      textContent: 0,
      ease: "Power1.easeIn",
      snap: { textContent: 1 },
      stagger: 1,
    });
  }
  observeAndAnimateForSelf(over_1k_text, over_1k_text_fn, true);
</script>
