---
import Layout from "~/layouts/layout.astro";
import IconIntro from "~/components/icon-intro";
import { MdFocusRing } from "@material/web/focus/md-focus-ring"
---

<Layout title="首页">
  <div class="relative size-100 bg-blue p10 px20">
    <!-- <IconIntro /> -->
    <input class="relative bg-[#00c562]" type="text" />
      <MdFocusRing client:visible></MdFocusRing>
    
  </div>
</Layout>

<style>
  :root {
    --md-focus-ring-shape: 18px
  }
</style>
