---
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import { NewVersonCard } from "~/components/home-card";
import IndexPage1 from "~/components/page_components/index-page-1.astro";
import IndexPage2 from "~/components/page_components/index-page-2.astro";
import IndexPage3 from "~/components/page_components/index-page-3.astro";
import IndexPage4 from "~/components/page_components/index-page-4.astro";
import IndexPage5 from "~/components/page_components/index-page-5.astro";
import IndexPageFoot from "~/components/page_components/index-page-foot.astro";
import Layout from "~/layouts/layout.astro";

const active: number = 0;
---

<Layout active={active} dark={true}>
  <script></script>
  <Header />
  <div>
    <div class="relative min-h-100dvh w-full flex flex-col items-center">
      <div class="absolute top-0 h-full w-full">
        <div
          class="sticky left-0 top-0 h-100dvh w-full overflow-hidden bg-[var(--md-sys-color-background)]"
        >
          <div
            class="absolute left-1/2 left-1/2 h-[max(180dvw,180dvh)] w-[max(180dvw,180dvh)] translate-y-2/5 transition-colors transition-duration-1000 -bottom-48 -translate-x-1/2 md:(translate-y-3/5 -bottom-8)"
            style="background:radial-gradient(at center, var(--oblatum-poster-light), var(--oblatum-poster-primary), var(--oblatum-poster-dark),var(--md-sys-color-background), var(--md-sys-color-background));"
          >
          </div>
        </div>
      </div>
      <div class="relative w-full px-12 md:(max-w-240 min-w-138)">
        <IndexPage1 />
        <IndexPage2 />
        <IndexPage3 />
        <IndexPage4 />
        <IndexPage5 />
        <IndexPageFoot />
      </div>
    </div>
    <div
      class="grid w-full gap-12 px-8 py-12 md:(grid-cols-2 mx-auto max-w-240)"
    >
      <NewVersonCard client:idle />
    </div>
    <Footer />
  </div>
  <script>
    window.onload = () => {
      const body = document.querySelector("body");
      body?.style.setProperty("--oblatum-poster-light", "#92FFFF");
      body?.style.setProperty("--oblatum-poster-primary", "#29ABE2");
      body?.style.setProperty("--oblatum-poster-dark", "#033144");
    };
  </script>
</Layout>
