<div
  class="grid grid-cols-1 mb-24 items-center justify-items-center text-3 op-30"
>
  <p>OpenSource 2024 Oblatum Org.</p>
  <a href="https://beian.miit.gov.cn/">蜀ICP备2024061249号-1</a>
  <p>Powered by Astro.Js</p>
</div>
