---
import { Image } from "astro:assets";
// import { HeaderMenu } from "~/components/header.tsx";

// interface Props {
//   active: number;
// }

// const { active } = Astro.props;
---

<div
  class="fixed left-0 top-0 z-9999 h-[4rem] w-full flex items-center gap-2 bg-op-0 px-4 py-4 backdrop-blur-xl backdrop-saturate-180 before:(absolute left-0 top-0 block h-full w-full bg-[var(--md-sys-color-background)] op-40 content-[''] -z-1)"
>
  <div class="flex-grow"></div>
  <slot>
    <div class="flex flex-col">
      <p
        class="pt-1 text-[13px] text-[var(--md-sys-color-on-background)] font-bold tracking-[0.14rem] op-70"
      >
        Oblatum 图标
      </p>
      <p
        class="transform-origin-lt transform-scale-93 text-[10px] text-[var(--md-sys-color-on-background)] font-light tracking-[0.3rem] opacity-30 -mt-1"
      >
        oblatum.art
      </p>
    </div>
  </slot>

  <span class="size-8 overflow-hidden rounded-xl shadow-sm">
    <Image
      src="/src/assets/imgs/oblatum_3.png"
      alt="Oblatum Iconpack"
      loading="lazy"
      decoding="async"
      width={256}
      height={256}
    />
  </span>
</div>
