---
import { IconButton } from "~/components/ui/md-button"
import { Icon } from "~/components/ui/md-icon"
import { List,ListItem } from "./ui/md-list";
import { Image } from "astro:assets";
---
<div class="absolute left-0 top-0 z-1000 h-[4rem] w-full flex items-center gap-4 bg-white bg-op-20 px-6 py-4 backdrop-blur-3xl backdrop-saturate-150">
    
    <span class="size-8 overflow-hidden rounded-md shadow-sm">
        <Image src="/src/assets/imgs/oblatum_3.png" alt="Oblatum Iconpack" loading={'lazy'} decoding={"async"} width={256} height={256}/>
    </span>
    <slot>
        <p class="flex flex-col tracking-[0.26rem] opacity-65">糯米纸图标包<span class="text-[12px] font-light tracking-widest opacity-45 -mt-1">Oblatum Iconpack</span></p>
    </slot>
    <div class="flex-grow"></div>
    <List client:idle className="absolute left-0 top-0 w-full border-b-1 border-b-[var(--md-sys-color-surface-variant)] px-8 pb-8 pt-4rem shadow-xl">
        <ListItem client:idle type="button">
            首页
            <Icon client:idle slot="start">home</Icon>
        </ListItem>
        <ListItem client:idle type="button">
            首页
            <Icon client:idle slot="start">home</Icon>
        </ListItem>
        <ListItem client:idle type="button">
            首页
            <Icon client:idle slot="start">home</Icon>
        </ListItem>
    </List>

    <IconButton client:idle>
        <Icon client:idle>menu</Icon>
    </IconButton>
</div>