---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '~/components/header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<Header />
		<div class="relative h-100dvh overflow-y-auto p-8">
			<slot />
		</div>
	</body>
</html>

<style is:global>
@import url('/src/styles/global.css');
</style>
